<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.image.mapper.ImagelikeMapper">

    <resultMap id="BaseResultMap" type="org.project.image.entity.Imagelike">
            <id property="uid" column="uid" jdbcType="VARCHAR"/>
            <id property="hid" column="hid" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,hid,type,
        num,updateTime,createTime
    </sql>

    <update id="newOrChangeRecord" parameterType="org.project.image.entity.Imagelike">
        insert into imagelike
        ( uid,hid,type,num )
        values (#{uid,jdbcType=VARCHAR},#{hid,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},1)
        ON DUPLICATE KEY UPDATE
        type = #{type,jdbcType=VARCHAR},
        num = num + 1
    </update>

    <update id="updateTypeByTwoKey" parameterType="java.lang.String">

        update imagelike
        set
            type = "no",num = num + 1
        where  uid = #{uid,jdbcType=VARCHAR} AND hid = #{hid,jdbcType=VARCHAR}

    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from imagelike
        where  uid = #{uid,jdbcType=VARCHAR} AND hid = #{hid,jdbcType=VARCHAR}
    </select>

    <select id="selectByUidByTime" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from imagelike
        where  uid = #{uid,jdbcType=VARCHAR}
        order by updateTime desc
    </select>
    <select id="selectUidByHid" parameterType="java.lang.String" resultType="java.lang.String">
        select
        uid
        from imagelike
        where  hid = #{hid,jdbcType=VARCHAR}
    </select>
    <select id="selectDifferentHid" resultType="java.lang.String">
        select distinct hid from imagelike
    </select>
    <select id="selectHidByUid" parameterType="java.lang.String" resultType="java.lang.String">
        select
        hid
        from imagelike
        where  uid = #{uid,jdbcType=VARCHAR}
    </select>
    <select id="selectByUidByTimeByLimit" resultType="org.project.image.entity.Imagelike">
        select
        <include refid="Base_Column_List" />
        from imagelike
        where  uid = #{uid,jdbcType=VARCHAR}
        order by updateTime desc
        limit #{begin},#{rows}
    </select>


    <insert id="insert">
        insert into imagelike
        ( uid,hid,type
        ,num,)
        values (#{uid,jdbcType=VARCHAR},#{hid,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR}
        ,#{num,jdbcType=INTEGER})
    </insert>











    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from imagelike
        where  uid = #{uid,jdbcType=VARCHAR} AND hid = #{hid,jdbcType=VARCHAR} 
    </delete>

    <insert id="insertSelective">
        insert into imagelike
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="uid != null">uid,</if>
                <if test="hid != null">hid,</if>
                <if test="type != null">type,</if>
                <if test="num != null">num,</if>
                <if test="updatetime != null">updateTime,</if>
                <if test="createtime != null">createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="uid != null">#{uid,jdbcType=VARCHAR},</if>
                <if test="hid != null">#{hid,jdbcType=VARCHAR},</if>
                <if test="type != null">#{type,jdbcType=VARCHAR},</if>
                <if test="num != null">#{num,jdbcType=INTEGER},</if>
                <if test="updatetime != null">#{updatetime,jdbcType=TIMESTAMP},</if>
                <if test="createtime != null">#{createtime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.project.image.entity.Imagelike">
        update imagelike
        <set>
                <if test="type != null">
                    type = #{type,jdbcType=VARCHAR},
                </if>
                <if test="num != null">
                    num = #{num,jdbcType=INTEGER},
                </if>
                <if test="updatetime != null">
                    updateTime = #{updatetime,jdbcType=TIMESTAMP},
                </if>
                <if test="createtime != null">
                    createTime = #{createtime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   uid = #{uid,jdbcType=VARCHAR} AND hid = #{hid,jdbcType=VARCHAR} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.project.image.entity.Imagelike">
        update imagelike
        set 
            type =  #{type,jdbcType=VARCHAR},
            num =  #{num,jdbcType=INTEGER},
            updateTime =  #{updatetime,jdbcType=TIMESTAMP},
            createTime =  #{createtime,jdbcType=TIMESTAMP}
        where   uid = #{uid,jdbcType=VARCHAR} AND hid = #{hid,jdbcType=VARCHAR} 
    </update>
</mapper>
