<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.image.mapper.ImageMapper">

    <resultMap id="BaseResultMap" type="org.project.image.entity.Image">
            <id property="hid" column="hid" jdbcType="VARCHAR"/>
            <result property="uid" column="uid" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="href" column="href" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="width" column="width" jdbcType="INTEGER"/>
            <result property="height" column="height" jdbcType="INTEGER"/>
            <result property="trailnum" column="trailNum" jdbcType="INTEGER"/>
            <result property="likenum" column="likeNum" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        hid,uid,title,
        href,description,width,
        height,trailNum,likeNum,score,
        state,updateTime,createTime
    </sql>




    <select id="selectByRandom" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from image
        where state = 'yes'
        order by rand() limit #{num}
    </select>

    <select id="selectByScore" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from image
        where state = 'yes'
        order by score desc limit #{begin},#{num}
    </select>

    <select id="selectByTrail" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from image
        where state = 'yes'
        order by trailNum desc limit #{begin},#{num}
    </select>
    <select id="selectByLike" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from image
        where state = 'yes'
        order by likeNum desc limit #{begin},#{num}
    </select>
    <select id="selectByCreateTime" resultType="org.project.image.entity.Image">
        select
        <include refid="Base_Column_List" />
        from image
        where state = 'yes'
        order by createTime desc limit #{begin},#{num}
    </select>

    <select id="selectByUidByTime" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from image
        where state = 'yes' and uid = #{uid,jdbcType=VARCHAR}
        order by createTime desc
    </select>

    <select id="selectByScoreByPc" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from image
        where width/height > 4/3
        order by score desc limit #{begin},#{num}
    </select>









    <update id="trailNumAddOne" parameterType="java.lang.String">
        update image
        set
            trailNum = trailNum + 1,
            score = score + 1
        where hid = #{hid,jdbcType=VARCHAR}
    </update>

    <update id="likeNumAddOne" parameterType="java.lang.String">
        update image
        set
            trailNum = trailNum + 1,
            likeNum = likeNum + 1,
            score = score + 11
        where   hid = #{hid,jdbcType=VARCHAR}
    </update>

    <update id="likeNumSubOne" parameterType="java.lang.String">
        update image
        set
            likeNum = likeNum - 1,
            score = score - 5
        where   hid = #{hid,jdbcType=VARCHAR}
    </update>









    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from image
        where  hid = #{hid,jdbcType=VARCHAR} 
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from image
        where  hid = #{hid,jdbcType=VARCHAR} 
    </delete>
    <insert id="insert" keyColumn="hid" keyProperty="hid" parameterType="org.project.image.entity.Image" useGeneratedKeys="true">
        insert into image
        ( hid,uid,title
        ,href,description,width
        ,height,trailNum,likeNum,score
        ,state)
        values (#{hid,jdbcType=VARCHAR},#{uid,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR}
        ,#{href,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{width,jdbcType=INTEGER}
        ,#{height,jdbcType=INTEGER}
        ,#{trailnum,jdbcType=INTEGER},#{likenum,jdbcType=INTEGER},#{score,jdbcType=INTEGER}
        ,#{state,jdbcType=VARCHAR})
    </insert>




    <insert id="insertSelective" keyColumn="hid" keyProperty="hid" parameterType="org.project.image.entity.Image" useGeneratedKeys="true">
        insert into image
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="hid != null">hid,</if>
                <if test="uid != null">uid,</if>
                <if test="title != null">title,</if>
                <if test="href != null">href,</if>
                <if test="description != null">description,</if>
                <if test="width != null">width,</if>
                <if test="height != null">height,</if>
                <if test="trailnum != null">trailNum,</if>
                <if test="likenum != null">likeNum,</if>
                <if test="state != null">state,</if>
                <if test="updatetime != null">updateTime,</if>
                <if test="createtime != null">createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="hid != null">#{hid,jdbcType=VARCHAR},</if>
                <if test="uid != null">#{uid,jdbcType=VARCHAR},</if>
                <if test="title != null">#{title,jdbcType=VARCHAR},</if>
                <if test="href != null">#{href,jdbcType=VARCHAR},</if>
                <if test="description != null">#{description,jdbcType=VARCHAR},</if>
                <if test="width != null">#{width,jdbcType=INTEGER},</if>
                <if test="height != null">#{height,jdbcType=INTEGER},</if>
                <if test="trailnum != null">#{trailnum,jdbcType=INTEGER},</if>
                <if test="likenum != null">#{likenum,jdbcType=INTEGER},</if>
                <if test="state != null">#{state,jdbcType=VARCHAR},</if>
                <if test="updatetime != null">#{updatetime,jdbcType=TIMESTAMP},</if>
                <if test="createtime != null">#{createtime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.project.image.entity.Image">
        update image
        <set>
                <if test="uid != null">
                    uid = #{uid,jdbcType=VARCHAR},
                </if>
                <if test="title != null">
                    title = #{title,jdbcType=VARCHAR},
                </if>
                <if test="href != null">
                    href = #{href,jdbcType=VARCHAR},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                <if test="width != null">
                    width = #{width,jdbcType=INTEGER},
                </if>
                <if test="height != null">
                    height = #{height,jdbcType=INTEGER},
                </if>
                <if test="trailnum != null">
                    trailNum = #{trailnum,jdbcType=INTEGER},
                </if>
                <if test="likenum != null">
                    likeNum = #{likenum,jdbcType=INTEGER},
                </if>
                <if test="state != null">
                    state = #{state,jdbcType=VARCHAR},
                </if>
                <if test="updatetime != null">
                    updateTime = #{updatetime,jdbcType=TIMESTAMP},
                </if>
                <if test="createtime != null">
                    createTime = #{createtime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   hid = #{hid,jdbcType=VARCHAR} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.project.image.entity.Image">
        update image
        set 
            uid =  #{uid,jdbcType=VARCHAR},
            title =  #{title,jdbcType=VARCHAR},
            href =  #{href,jdbcType=VARCHAR},
            description =  #{description,jdbcType=VARCHAR},
            width =  #{width,jdbcType=INTEGER},
            height =  #{height,jdbcType=INTEGER},
            trailNum =  #{trailnum,jdbcType=INTEGER},
            likeNum =  #{likenum,jdbcType=INTEGER},
            state =  #{state,jdbcType=VARCHAR},
            updateTime =  #{updatetime,jdbcType=TIMESTAMP},
            createTime =  #{createtime,jdbcType=TIMESTAMP}
        where   hid = #{hid,jdbcType=VARCHAR} 
    </update>
</mapper>
